<!DOCTYPE html>
<!--[if IE 8 ]> <html lang="en" class="ie ie8"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>  
  <meta charset="utf-8" />
  <meta name="description" content="Wir planen, gestalten und realisieren Websites, Mobile- und Tablet-Apps." />
  <meta name="author" content="DASSEL UND WAGNER - http://www.dasselundwagner.de">
  <meta name="robots" content="index, follow" />
  <meta http-equiv="cleartype" content="on" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  
<!--   <meta property="og:url" content="http://www.dasselundwagner.com/en/" /> 
  <meta property="og:title" content="DASSEL UND WAGNER | We create digital products." /> 
  <meta property="og:description" content="We plan, design and execute websites, and apps for mobile and tablet devices." /> 
  <meta property="og:image" content="../img/dw/splash.png" /> -->
    
  <title></title>
  
<!--   <link rel="shortcut icon" href="http://dasselundwagner.de/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../img/dw/apple-touch-icon-144x144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../img/dw/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../img/dw/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="../img/dw/apple-touch-icon-precomposed.png"> -->

  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/typography.css">  
  <link rel="stylesheet" href="/css/views.css">   

</head>

<body>

	
    <%= styled_flash %>
    <%= yield %>
  


  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script src="/js/lib/lib.min.js"></script>
  <script src="/js/config.js"></script>
  <script src="/js/dw.min.js"></script> 

</body>
</html>
