

<!-- 	<div id="splash"><img src="/img/dw/splash.png" alt="wait..."/></div>	
 -->	
	<div id="menu-status"></div>
	
	<div id="header" class="section">	
		<div id="logo-small" class="logo"><a href="index.html#"><img src="/img/msg-logo.svg" width="80"></a></div> 
		<div id="menu">
			<ul id="menu-list">
			</ul>
		</div>
		<div id="menu-button">
			<div class="menu-button-bar"></div><div class="menu-button-bar"></div><div class="menu-button-bar"></div>
		</div>
	</div>
	
	<div id="footer">

	</div>
	<div id="move-to-previous-view" class="vertical-middle">
		<div id="btn-back-black" class="move-btn"><img src="/img/dw/btn_back_black.png" width="50" height="50"></div>
		<div id="btn-back-white" class="move-btn"><img src="/img/dw/btn_back_white.png" width="50" height="50"></div>
	</div>	
	<div id="move-to-next-view" class="vertical-middle">
		<div id="btn-next-black" class="move-btn"><img src="/img/dw/btn_next_black.png" width="50" height="50"></div>
		<div id="btn-next-white" class="move-btn"><img src="/img/dw/btn_next_white.png" width="50" height="50"></div>
	</div>
	
	<div class="view" id="view-home" data-logo-color="black">
		<div class="home-bg"><img class="view-background" src="/img/views/bg_home3.jpg" alt="bg_home"></div>
		<img id="btn-next-touch" class="vertical-middle" src="/img/dw/btn_next_white.png" width="50" height="50">
		<div class="square" id="square-home">
			<div class="content" id="home-type-anime">
				<h1>
					We<br> 
					create<br>
					successful<br> 
					digital<br>
					products.
				</h1>
				<p class="copy-text">
					Vibes' Mobile Solutions Group is made up of the industry's top mobile experts to help you develop and execute marketing leading mobile campaigns.
				</p>
			</div>
		</div>
	</div>

	<div class="view view-projekte" id="view-projekte-0" data-logo-color="white">
		<div class="square square-projekte" id="square-projekte-0">
			<div class="content">
				<h1>
					We work for publishers, agencies and corporate clients.
				</h1>
				<p class="copy-text">
					Our customers include the Frankfurter Allgemeine Zeitung,  the Bundesanzeiger Verlag, argonauten G2, Storengy, and more.
				</p>
			</div>
		</div>
	</div>
	
	<!-- faz net -->
	<div class="view view-projekte" id="view-projekte-faznet" data-logo-color="black">
		<div class="square square-projekte" id="square-projekte-faznet">
			<div class="spinner"><img src="/img/dw/spinner_black.gif"></div>
			<div class="image-box" data-img-src="/img/views/uscc-okc-tablet.png"></div>
			<div class="content">
				<h3>
					U.S. CELLULAR | OKC Thunder Microsite
				</h3>
				<h2>
					For the fans and your brand.
				</h2>
			</div>
		</div>
		<div class="layer" id="layer-projekte-faznet" data-logo-color="black">
			<div class="content">
				<p>Responsive microsite to showcase U.S. Cellular GameDay Rewards, Virtual Autographs and other promotions for the Oklahoma City Thunder. Optimized for the Samsung Galaxy Tab 10.1, and the Samsung Galaxy s3.
				</p>
			</div>
			<div align="center"><img src="/img/views/uscc-okc-tablet.png" width="450"></div>
		</div>
	</div>


	<!-- faz net -->
	<div class="view view-projekte" id="view-projekte-nfl" data-logo-color="white">
		<div class="square square-projekte" id="square-projekte-nfl">
			<div class="spinner"><img src="/img/dw/spinner_white.gif"></div>
			<div class="image-box" data-img-src="/img/views/uscc-okc-tablet.png"></div>
			<div class="content">
				<h3>
					Verizon | NFL Mobile Huddle Site
				</h3>
				<h2>
					For the fans and your brand.
				</h2>
			</div>
		</div>
		<div class="layer" id="layer-projekte-nfl" data-logo-color="white">
			<div class="content">
				<p>Responsive microsite to showcase U.S. Cellular GameDay Rewards, Virtual Autographs and other promotions for the Oklahoma City Thunder. Optimized for the Samsung Galaxy Tab 10.1, and the Samsung Galaxy s3.
				</p>
			</div>
			<div align="center"><img src="/img/views/uscc-okc-tablet.png" width="450"></div>
		</div>
	</div>
	
	<!-- faz iphone -->
	<div class="view view-projekte" id="view-projekte-cmt-iphone" data-logo-color="white">
		<div class="square square-projekte" id="square-projekte-cmt-iphone">
			<div class="spinner"><img src="/img/dw/spinner_white.gif"></div>
			<div class="image-box" data-img-src="/img/views/cmt-lineup3.png"></div>
			<div class="content">
				<h3>
					Verizon CMT Music Awards
				</h3>
				<h2>
					Elegant, successful, and award-winning
				</h2>
			</div>
		</div>
		<div class="layer" id="layer-projekte-cmt-iphone" data-logo-color="white">
			<div class="content">
				<p>This responsive experience was designed to promote the Country Music Awards Video of the Year mobile vote. A custom "Play-A-Day" sweepstakes with rotating cubes that formed album artwork was also showcased, with a chance to win a trip to the event.
				</p>
			</div>
			<div align="center"><img src="/img/views/cmt-lineup3.png" width="450"></div>
		</div>

	</div>
		
	<!-- faz ipad -->
	<div class="view view-projekte" id="view-projekte-faz-ipad" data-logo-color="white">
		<div class="square square-projekte" id="square-projekte-faz-ipad">
			<div class="spinner"><img src="/img/dw/spinner_white.gif"></div>
			<div class="image-box" data-img-src="/img/views/indycar-nokia.jpg"></div>
			<div class="content">
				<h3>
					Verizon Indy Car Mobile Site 
				</h3>
				<h2>
					The newspaper app for decision makers
				</h2>
			</div>
		</div>
		<div class="layer" id="layer-projekte-faz-ipad" data-logo-color="white">
			<div class="content">
				<p>The Frankfurter Allgemeine Zeitung’s iPad app is a joy to navigate, a pleasure to read, and, a cinch to integrate into information networks. It includes an exclusive “topic monitor” that lets readers identify and collect articles on any topic of their choice from current and back issues alike.
				</p>
			</div>
			<div class="award award-3"><p class="award-text">RED DOT AWARD<br>2012</p></div>
			<div class="link-button appstore-button-en" data-url="/redirect_to_itunes.html?faz_ipad"></div>
			<div class="kb-hint">Developed by PW and RD as employees of KircherBurkhardt GmbH.</div>
		</div>
	</div>
	
	<!-- sauza-->
	<div class="view view-projekte" id="view-projekte-sauza" data-logo-color="white">
		<div class="square square-projekte" id="square-projekte-sauza">
			<div class="spinner"><img src="/img/dw/spinner_black.gif"></div>
			<div class="image-box" data-img-src="/img/views/project-sauza.png"></div>
			<div class="content">
				<h3>
					Sauza "Make It With a Lifeguard"
				</h3>
				<h2>
					He can't wait to rescue you...and your next girls' night.
				</h2>
			</div>
		</div>
		<div class="layer" id="layer-projekte-sauza" data-logo-color="black">
			<div class="content">
				<p>This mobile microsite compliments Sauza's new line of sparkling margaritas, and the concept of “making it with a lifeguard.” The features include a location specific coupon, signature recipes and a custom drag & drop game to Marry, Date or Dump a lifeguard.
				</p>
			</div>
			<div class="award award-3"><p class="award-text">RED DOT AWARD<br>2012</p></div>
			<div class="kb-hint">Developed by PW and RD as employees of KircherBurkhardt GmbH.</div>
		</div>
	</div>

	<!-- Konzeptlicht -->
	<div class="view view-projekte" id="view-projekte-konzeptlicht" data-logo-color="white">
		<div class="square square-projekte" id="square-projekte-konzeptlicht">
			<div class="spinner"><img src="/img/dw/spinner_white.gif"></div>
			<div class="image-box" data-img-src="/img/views/indycar-nokia-lineup.png" alt="Konzeptlicht"></div>
			<div class="content">
				<h3>
					Verizon Indy Car Mobile Site 
				</h3>
				<h2>
					Pedal to the metal in a new market
				</h2>
			</div>
		</div>
		<div class="layer" id="layer-projekte-konzeptlicht" data-logo-color="white">
			<div class="content">
				<p>This mobile companion piece was designed to compliment the 2013 INDYCAR race season. Includes a full-feature event map, listing of events and other Verizon promotions. To view the experience on your phone (Verizon only) text INDY to 22326 or check out the link below.</p>
			</div>
		</div>
	</div>
	

	
	<div class="view" id="view-twitter" data-logo-color="white">
		<div class="square" id="square-twitter">
			<div class="image-box" data-img-src="/img/views/twitter_quotes.png"></div>
			<div class="content">
				<div id="twitter-text" class="vertical-middle">
				</div>
			</div>
		</div>
	</div>
		
	<div class="view" id="view-kontakt" data-logo-color="black">
		<div class="square" id="square-kontakt">
						
			<div class="content">
    			<div id="map"><img src="/img/views/vibes-map.jpg" width="300"></div>
				<p>
					300 West Adams St.<br>
					7th Floor<br>
					Chicago, IL 60606</p>
				<p>
					<a href="tel:+3127536330">312.753.6330</a>
				</p>
				<p>
					<a href="mailto:info@vibes.com">info@vibes.com</a> <br>
					<a href="http://www.twitter.com/Vibes_Media" target="_blank">Twitter</a> /
					<a href="https://www.facebook.com/VibesMedia" target="_blank">Facebook</a>			
				</p>
			</div>
		</div>
	</div>	
	<div id="impressum" class="layer">
		<div class="content">
			
		</div>
	</div>


