<style>
#mdn {
	width: 100%;
	height: 50px;
	border-radius: 0;
	font-size: 1em;
	font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;

}

button {
	width: 90%;
	height: 50px;
	border-radius: 0;
	background-color: red;
	font-size: 1em;
	margin: 10px auto;
	font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	border: solid 0px;
}

p.awards-copy {
	font-size: .9em;
	line-height: 1.5em;
	font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	text-transform:uppercase;
}

</style>

<!-- 	<div id="splash"><img src="/img/dw/splash.png" alt="wait..."/></div>	
 -->	
	<div id="menu-status"></div>
	
	<div id="header" class="section">	
		<div id="logo-small" class="logo"><a href="index.html#"><img src="/img/views/msg-logo.png" width="70"></a></div> 
		<div id="menu">
			<ul id="menu-list">
			</ul>
		</div>
		<div id="menu-button">
			<div class="menu-button-bar"></div><div class="menu-button-bar"></div><div class="menu-button-bar"></div>
		</div>
	</div>
	
	<div id="footer">

	</div>
	<div id="move-to-previous-view" class="vertical-middle">
		<div id="btn-back-black" class="move-btn"><img src="/img/dw/btn_back_black.png" width="50" height="50"></div>
		<div id="btn-back-white" class="move-btn"><img src="/img/dw/btn_back_white.png" width="50" height="50"></div>
	</div>	
	<div id="move-to-next-view" class="vertical-middle">
		<div id="btn-next-black" class="move-btn"><img src="/img/dw/btn_next_black.png" width="50" height="50"></div>
		<div id="btn-next-white" class="move-btn"><img src="/img/dw/btn_next_white.png" width="50" height="50"></div>
	</div>
	
	<div class="view" id="view-home" data-logo-color="black">
		<img id="home-bg" class="view-background" src="/img/views/bg_home3.jpg" alt="bg_home">
		<img id="btn-next-touch" class="vertical-middle" src="/img/dw/btn_next_white.png" width="50" height="50">
		<div class="square" id="square-home">
			<div class="content" id="home-type-anime">
				<h1>
					Powerful.<br> 
					Mobile.<br>
					Solutions.<br> 
				</h1>
				<p class="copy-text">
					Our Mobile Solutions Group is made up of the industry's top mobile experts to help you design, develop and execute market leading mobile programs.
				</p>
			</div>
		</div>
	</div>

	<div class="view view-projekte" id="view-projekte-0" data-logo-color="white">
		<div class="square square-projekte" id="square-projekte-0">
			<div class="content">
				<h1>
					Impacting brands that span the spectrum. 
				</h1>
				<p class="copy-text">
					The world's leading brands and agencies look for our expertise in creating the experiences that matter most.
				</p>
			</div>
		</div>
	</div>
	
	<!-- faz net -->
	<div class="view view-projekte" id="view-projekte-faznet" data-logo-color="white">
		<div class="square square-projekte" id="square-projekte-faznet">
			<div class="spinner"><img src="/img/dw/spinner_white.gif"></div>
			<div class="image-box" data-img-src="/img/views/uscc-okc-tablet.png"></div>
			<div class="content">
				<h3>
					U.S. Cellular | OKC Thunder Microsite
				</h3>
				<h2>
					For the fans and your brand.
				</h2>
			</div>
		</div>
		<div class="layer" id="layer-projekte-faznet" data-logo-color="white">
			<div class="content">
				<p class="inner-box-copy">This microsite built in responsive design provided fans with the opportunity to engage deeper with their favorite team and U.S. Cellular. Driving awareness to U.S. Cellular's biggest initiatives onsite via tethered tablets in studio, and extending the experience  beyond the venue walls via handsets- kept U.S. Cellular's latest & greatest promotions in the back pocket of every OK Thunder fan.
				</p>
				<div align="center"><img src="/img/views/uscc-okc-tablet.png" width="400"></div>
			</div>

		</div>
	</div>


	<!-- faz net -->
	<div class="view view-projekte" id="view-projekte-nfl" data-logo-color="white">
		<div class="square square-projekte" id="square-projekte-nfl">
			<div class="spinner"><img src="/img/dw/spinner_white.gif"></div>
			<div class="image-box" data-img-src="/img/views/nfl-tablet.png"></div>
			<div class="content">
				<h3>
					Verizon | NFL Mobile Huddle Site
				</h3>
				<h2>
					For the fans and your brand.
				</h2>
			</div>
		</div>
		<div class="layer" id="layer-projekte-nfl" data-logo-color="white">
			<div class="content">
				<p class="inner-box-copy">A multi-layered, responsively designed microsite strengthened the conversation with fans of both the NFL and Verizon. We empowered fans to customize their experience, receiving content that was relevant to them and ensuring Verizon, the NFL and their favorite team were always with them- at the game, at home or on the go.
				</p>
			<div align="center"><img src="/img/views/nfl-tablet.png" width="400"></div>
			</div>
		</div>
	</div>
	
	<!-- faz iphone -->
	<div class="view view-projekte" id="view-projekte-cmt-iphone" data-logo-color="white">
		<div class="square square-projekte" id="square-projekte-cmt-iphone">
			<div class="spinner"><img src="/img/dw/spinner_white.gif"></div>
			<div class="image-box" data-img-src="/img/views/cmt-lineup3.png"></div>
			<div class="content">
				<h3>
					Verizon CMT Music Awards
				</h3>
				<h2>
					Elegant, successful, and award-winning
				</h2>
			</div>
		</div>
		<div class="layer" id="layer-projekte-cmt-iphone" data-logo-color="white">
			<div class="content">
				<p class="inner-box-copy">On a night celebrating creative excellence in the music industry, the digital extension needed to do the same. Music lovers everywhere had the power to influence this night of industry recognition by participating in our dynamic, responsively designed experience. Our solution created an evolving dialogue with fans that impacted engagement before, during and after the event. 
				</p>
			  <div align="center"><img src="/img/views/cmt-lineup3.png" width="400"></div>
			</div>
		</div>

	</div>
		
	<!-- faz ipad -->
	<div class="view view-projekte" id="view-projekte-faz-ipad" data-logo-color="white">
		<div class="square square-projekte" id="square-projekte-faz-ipad">
			<div class="spinner"><img src="/img/dw/spinner_white.gif"></div>
			<div class="image-box" data-img-src="/img/views/clone-wars.png"></div>
			<div class="content">
				<h3>
					Lucasfilm| Star Wars Clone Wars
				</h3>
				<h2>
					The newspaper app for decision makers
				</h2>
			</div>
		</div>
		<div class="layer" id="layer-projekte-faz-ipad" data-logo-color="white">
			<div class="content">
				<p class="inner-box-copy">Creating a site as unique as the brand it represented provided us with the perfect platform to engage with LucasFilm. Integrating SMS, mobile wallet, a dynamic sweepstakes and rich media into one holistic mobile experience allowed fans to deepen their relationship with the Force.
				</p>
			<div align="center"><img src="/img/views/clone-wars.png" width="400"></div>
			</div>

		</div>
	</div>
	
	<!-- sauza-->
	<div class="view view-projekte" id="view-projekte-sauza" data-logo-color="white">
		<div class="square square-projekte" id="square-projekte-sauza">
			<div class="spinner"><img src="/img/dw/spinner_black.gif"></div>
			<div class="image-box" data-img-src="/img/views/project-sauza.png"></div>
			<div class="content">
				<h3>
					Sauza "Make It With a Lifeguard"
				</h3>
				<h2>
					He can't wait to rescue you...and your next girls' night.
				</h2>
			</div>
		</div>
		<div class="layer" id="layer-projekte-sauza" data-logo-color="black">
			<div class="content">
				<p class="inner-box-copy">Elevating the presence and impact of Sauza sampling events was achieved through a multi-layered onsite tablet solution that armed Sauza's brand ambassadors with the tools they needed to effectively educate and engage customers. Light weight gaming, incentive distribution, and social media extensions all conspired to create an experience that continued Sauza's conversation with their customers long after they left the event.
				</p>
			</div>
			<div align="center">
			<ul class="awards">
			  <li><img src="/img/views/logo-1.png" width="150"></li>
			  <li><img src="/img/views/smarties.png" width="250"></li>
			  <li><img src="/img/views/Mobile-Excellence-Awards.jpg" width="70"></li>
			<ul class="awards">
			  <li><p class="awards-copy">Winner 2013<br>Category - Mobile Marketing</p></li>
			  <li><p class="awards-copy">Finalist 2013<br>Category - Tablet Campaign for Sauza “Make It With A Lifeguard”</p></li>
			  <li><p class="awards-copy">Finalist 2013<br>Category - Best Mobile Innovator<br>Category - Best Entertainment Integration for Mobile<br>Category - Best Delivery Platform for Mobile</p></li>
			  </ul>
			</div>
			</div>

	</div>

	<!-- Konzeptlicht -->
	<div class="view view-projekte" id="view-projekte-konzeptlicht" data-logo-color="white">
		<div class="square square-projekte" id="square-projekte-konzeptlicht">
			<div class="spinner"><img src="/img/dw/spinner_white.gif"></div>
			<div class="image-box" data-img-src="/img/views/indycar-nokia-lineup.png" alt="Konzeptlicht"></div>
			<div class="content">
				<h3>
					Verizon Indy Car Mobile Site 
				</h3>
				<h2>
					Pedal to the metal in a new market
				</h2>
			</div>
		</div>
		<div class="layer" id="layer-projekte-konzeptlicht" data-logo-color="white">
			<div class="content">
				<p>Putting the power of Verizon and Indy Car in the back pocket of every fan was made possible with this dynamic microsite that doubled as a mobile concierge for each race. A combination of maps, track information and exclusive content provided fans with an effective companion to ensure they never missed a race day moment.</p><br>
			<div align="center"><img src="/img/views/indycar-nokia-lineup.png" width="400"></div>
			</div>
		</div>
	</div>
	

	
	<div class="view" id="view-twitter" data-logo-color="white">
		<div class="square" id="square-twitter">
			<div class="content">
				<div id="twitter-widget">
				<a class="twitter-timeline" href="https://twitter.com/Vibes_Media" data-chrome="nofooter noborders noheader transparent" data-tweet-limit="3" data-widget-id="386165109715775488">Tweets by @Vibes_Media</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

				</div>
			</div>
		</div>
	</div>
		
	<div class="view" id="view-kontakt" data-logo-color="black">
		<div class="square" id="square-kontakt">
						
			<div class="content">

				<!-- <h2>To find out what Vibe's and MSG can do for you, enter your mobile number below.</h2>
				<div style="height:20px"></div>
				
				<form method="post" action="/form/process" class="contact-form" id="offer-form">
					<input type="tel" placeholder="&nbsp;&nbsp;Mobile Number" id="mdn" name="mdn">
					<button type="submit">SUBMIT</button>
				</form> -->
				<div style="padding-top:10%"></div>
				<h1>Contact</h1>
				<p>
					300 West Adams St.<br>
					7th Floor<br>
					Chicago, IL 60606</p>
				<p>
					<a href="tel:+3127536330">312.753.6330</a>
				</p>
				<p>
					<a href="mailto:info@vibes.com">info@vibes.com</a> <br>
					<a href="http://www.twitter.com/Vibes_Media" target="_blank">Twitter</a> /
					<a href="https://www.facebook.com/VibesMedia" target="_blank">Facebook</a>			
				</p>
			</div>
		</div>
	</div>	
	<div id="impressum" class="layer">
		<div class="content">
			
		</div>
	</div>

