	<div id="splash"><img src="/img/dw/splash.png" alt="wait..."/></div>	
	
	<div id="menu-status"></div>
	
	<div id="header" class="section">	
		<div id="logo-big" class="logo"><a href="index.html#">D<br>UND<br>W</a></div>	
		<div id="logo-small" class="logo"><a href="index.html#">DUNDW - </a><span id="chapter-title">START</span></div> 
		<div id="menu">
			<ul id="menu-list">
			</ul>
		</div>
		<div id="menu-button">
			<div class="menu-button-bar"></div><div class="menu-button-bar"></div><div class="menu-button-bar"></div>
		</div>
	</div>
	
	<div id="footer">

	</div>
	<div id="move-to-previous-view" class="vertical-middle">
		<div id="btn-back-black" class="move-btn"><img src="/img/dw/btn_back_black.png" width="50" height="50"></div>
		<div id="btn-back-white" class="move-btn"><img src="/img/dw/btn_back_white.png" width="50" height="50"></div>
	</div>	
	<div id="move-to-next-view" class="vertical-middle">
		<div id="btn-next-black" class="move-btn"><img src="/img/dw/btn_next_black.png" width="50" height="50"></div>
		<div id="btn-next-white" class="move-btn"><img src="/img/dw/btn_next_white.png" width="50" height="50"></div>
	</div>
	
	<div class="view" id="view-home" data-logo-color="black">
		<img class="view-background" src="/img/views/bg_home.jpg" alt="bg_home">
		<img id="btn-next-touch" class="vertical-middle" src="/img/dw/btn_next_white.png" width="50" height="50">
		<div class="square" id="square-home">
			<div class="content">
				<h1>
					We<br> 
					create<br>
					successful<br> 
					digital<br>
					products.
				</h1>
				<p class="copy-text">
					VIBES' MOBILE SOLUTIONS GROUP IS MADE UP OF THE INDUSTRY'S TOP MOBILE EXPERTS TO HELP YOU DEVELOP AND EXECUTE MARKETING LEADING MOBILE CAMPAIGNS.
				</p>
			</div>
		</div>
	</div>

	<div class="view view-projekte" id="view-projekte-0" data-logo-color="white">
		<div class="square square-projekte" id="square-projekte-0">
			<div class="content">
				<h1>
					We work for publishers, agencies and corporate clients.
				</h1>
				<p class="copy-text">
					Our customers include the Frankfurter Allgemeine Zeitung,  the Bundesanzeiger Verlag, argonauten G2, Storengy, and more.
				</p>
			</div>
		</div>
	</div>
	
	<!-- faz net -->
	<div class="view view-projekte" id="view-projekte-faznet" data-logo-color="black">
		<div class="square square-projekte" id="square-projekte-faznet">
			<div class="spinner"><img src="/img/dw/spinner_black.gif"></div>
			<div class="image-box" data-img-src="/img/views/projekte-faznet.jpg"></div>
			<div class="content">
				<h3>
					FAZ.net
				</h3>
				<h2>
					Germany’s news portal
				</h2>
			</div>
		</div>
		<div class="layer" id="layer-projekte-faznet" data-logo-color="black">
			<div class="content">
				<p>The challenge: translate all of the values that make the paper famous­­—credibility, originality, and quality reporting—into a digital platform. Our answer is an easy-to-navigate news portal that captures all the authority of the printed edition, while incorporating the interactive and social media features keeping news outlets alive today.
				</p>
			</div>
			<div class="award award-1"><p class="award-text">LEAD AWARD SILVER<br>2012</p></div>
			<div class="award award-2"><p class="award-text">RED DOT AWARD<br>2012</p></div>
			<div class="award award-3"><p class="award-text">GOOD DESIGN AWARD<br>2012</p></div>
			<div class="link-button" data-url="http://www.faz.net"><p class="link-button-text">Website</p></div>
			<div class="kb-hint">Developed by PW and RD as employees of KircherBurkhardt GmbH.</div>
		</div>
	</div>
	
	<!-- faz iphone -->
	<div class="view view-projekte" id="view-projekte-faz-iphone" data-logo-color="white">
		<div class="square square-projekte" id="square-projekte-faz-iphone">
			<div class="spinner"><img src="/img/dw/spinner_white.gif"></div>
			<div class="image-box" data-img-src="/img/views/cmt-iphone.jpg"></div>
			<div class="content">
				<h3>
					F.A.Z. iPhone app
				</h3>
				<h2>
					Elegant, successful, and award-winning
				</h2>
			</div>
		</div>
		<div class="layer" id="layer-projekte-faz-iphone" data-logo-color="white">
			<div class="content">
				<p>Our iPhone app for the Frankfurter Allgemeine Zeitung is one of the best-loved news apps in Germany. No wonder. It has an elegant interface, exclusive content and the same top-notch journalism that made the paper famous . Subscriptions via the app have outpaced the publisher’s own ambitious forecasts. 
				</p>
			</div>
			<div class="award award-1"><p class="award-text">IF DESIGN AWARD<br>2012</p></div>
			<div class="award award-2"><p class="award-text">RED DOT AWARD<br>2011</p></div>
			<div class="award award-3"><p class="award-text">GOOD DESIGN AWARD<br>2012</p></div>
			<div class="link-button appstore-button-en" data-url="/redirect_to_itunes.html?faz_iphone"></div>
			<div class="kb-hint">Developed by PW and RD as employees of KircherBurkhardt GmbH.</div>
		</div>

	</div>
		
	<!-- faz ipad -->
	<div class="view view-projekte" id="view-projekte-faz-ipad" data-logo-color="white">
		<div class="square square-projekte" id="square-projekte-faz-ipad">
			<div class="spinner"><img src="/img/dw/spinner_white.gif"></div>
			<div class="image-box" data-img-src="/img/views/projekte-faz-ipad.jpg"></div>
			<div class="content">
				<h3>
					F.A.Z. iPad app
				</h3>
				<h2>
					The newspaper app for decision makers
				</h2>
			</div>
		</div>
		<div class="layer" id="layer-projekte-faz-ipad" data-logo-color="white">
			<div class="content">
				<p>The Frankfurter Allgemeine Zeitung’s iPad app is a joy to navigate, a pleasure to read, and, a cinch to integrate into information networks. It includes an exclusive “topic monitor” that lets readers identify and collect articles on any topic of their choice from current and back issues alike.
				</p>
			</div>
			<div class="award award-3"><p class="award-text">RED DOT AWARD<br>2012</p></div>
			<div class="link-button appstore-button-en" data-url="/redirect_to_itunes.html?faz_ipad"></div>
			<div class="kb-hint">Developed by PW and RD as employees of KircherBurkhardt GmbH.</div>
		</div>
	</div>
	
	<!-- christophorus-->
	<div class="view view-projekte" id="view-projekte-christophorus" data-logo-color="black">
		<div class="square square-projekte" id="square-projekte-christophorus">
			<div class="spinner"><img src="/img/dw/spinner_black.gif"></div>
			<div class="image-box" data-img-src="/img/views/project-sauza.jpg"></div>
			<div class="content">
				<h3>
					Porsche Christophorus iPad app
				</h3>
				<h2>
					Pedal to the metal in a new market
				</h2>
			</div>
		</div>
		<div class="layer" id="layer-projekte-christophorus" data-logo-color="black">
			<div class="content">
				<p>We created a very early prototype of an app for Porsche's celebrated customer magazine, Christophorus. This was only weeks after the first iPad hit the market, so we built the app the hard way. Many features in our study, including the use of video clips in the storytelling process, are reflected in the app today.
				</p>
			</div>
			<div class="award award-3"><p class="award-text">RED DOT AWARD<br>2012</p></div>
			<div class="link-button appstore-button-en" data-url="/redirect_to_itunes.html?porsche"></div>
			<div class="kb-hint">Developed by PW and RD as employees of KircherBurkhardt GmbH.</div>
		</div>
	</div>

	<!-- Konzeptlicht -->
	<div class="view view-projekte" id="view-projekte-konzeptlicht" data-logo-color="white">
		<div class="square square-projekte" id="square-projekte-konzeptlicht">
			<div class="spinner"><img src="/img/dw/spinner_white.gif"></div>
			<div class="image-box" data-img-src="/img/views/projekte-konzeptlicht.jpg" alt="Konzeptlicht"></div>
			<div class="content">
				<h3>
					Website for KonzeptLicht lighting design
				</h3>
				<h2>
					A warm glow in the dark
				</h2>
			</div>
		</div>
		<div class="layer" id="layer-projekte-konzeptlicht" data-logo-color="white">
			<div class="content">
				<p>Creating an effective app for a lighting design firm right requires more than atmospherics. Our solution is a fully responsive format that may be unusual for a small consulting firm, but totally appropriate when your business boils down to character and clarity. It works the same on a tablet, smart phone or desktop device.</p>
			</div>
		</div>
	</div>
	
	<!-- Profil -->	
	<div class="view view-profil" id="view-profil-0" data-logo-color="white">
		<div class="square square-profil" id="square-profil-0">
			<div class="content">
				<h1>
					We believe in good ideas, flexibility and precision.
				</h1>
				<p class="copy-text">
					Great products are not the result of a burst of creativity. They come from the joy of experimentation, open development processes, and from extraordinary attention to detail. 
				</p>
			</div>
		</div>
	</div>

	<div class="view view-profil" id="view-profil-1" data-logo-color="black">
		<div class="square square-profil" id="square-profil-1">
			<div class="content">
				<h2>
					User Friendly
				</h2>
				<p class="copy-text">
					The needs of the user are the focus of all we do.  This is how we develop products that become regular fixtures in the lives of many, many people.
				</p>
			</div>
		</div>
	</div>

	<div class="view view-profil" id="view-profil-2" data-logo-color="black">
		<div class="square square-profil" id="square-profil-2">
			<div class="content">
				<h2>
					Digital mobili-<br>
					zation
				</h2>
				<p class="copy-text">
					We use a variety of approaches to ensure that our products are used by people on the go. Native apps, HTML, or websites featuring fully responsive design.
				</p>
			</div>
		</div>
	</div>

	<div class="view view-profil" id="view-profil-3" data-logo-color="black">
		<div class="square square-profil" id="square-profil-3">
			<div class="content">
				<h2>
					Theory and practice
				</h2>
				<p class="copy-text">
					We create functional prototypes as early as possible. This speeds up development, because ideas, implementation and assessment then flow as a single process.
				</p>
			</div>
		</div>
	</div>
	
	<div class="view" id="view-koepfe-0" data-logo-color="white">
		<div class="square" id="square-koepfe-0">
			<div class="content">
				<h1>
					We know what we’re doing.
				</h1>
				<p class="copy-text">
					We are a tag team consisting of a conceptor and a designer. We have long track record together, devoting 30 years of professional experience to every project.
				</p>
			</div>
		</div>
	</div>

	<!-- Herr Wagner -->
	<div class="view" id="view-wagner" data-logo-color="white">
		<div class="image-box full-height" data-img-src="/img/views/wagner.jpg"></div>
		<div class="square" id="square-wagner">
			<div class="spinner"><img src="/img/dw/spinner_white.gif"></div>
			<div class="content">
				<h2>Paul Wagner</h2>
				<h3>Managing Director<br>Design & Production</h3>
			</div>
			<div class="media-buttons">
		    	<div class="media-button" data-url="http://www.twitter.com/_paulwagner">
		    		<img src="/img/dw/social_twitter_off.png" class="rollover" alt="Social Media Links" />
		    	</div> 
		    	<div class="media-button" data-url="http://de.linkedin.com/in/wagnerpaul">
		    		<img src="/img/dw/social_linkedin_off.png" class="rollover" alt="Social Media Links" />
		    	</div>
		    	<div class="media-button last-child" data-url="http://www.xing.com/profile/Paul_Wagner8">
		    		<img src="/img/dw/social_xing_off.png" class="rollover" alt="Social Media Links" />
		    	</div>
		    </div>
		</div>
		<div class="layer" id="layer-wagner" data-logo-color="white">
			<div class="content">
				<h2>Paul Wagner</h2>
				<p>Designer.</p>
				<p>Paul was a secret weapon for many of the original digital design agencies in Germany.  He’s the force behind the Tenmetal Design studio, and as a creative director, helped propel the KircherBurkhardt agency into the digital age.</p>
				<p>At DUNDW he is charge of design and production issues.</p>
			</div>
		</div>
	</div>

	<!-- Herr Dassel -->
	<div class="view" id="view-dassel" data-logo-color="white">
		<div class="image-box full-height" data-img-src="/img/views/dassel.jpg"></div>
		<div class="square" id="square-dassel">
			<div class="spinner"><img src="/img/dw/spinner_white.gif"></div>
			<div class="content">
				<h2>Reinhard Dassel</h2>
				<h3>Partner<br>Client Service & Concepts</h3>
			</div>
			<div class="media-buttons">
		    	<div class="media-button" data-url="http://de.linkedin.com/pub/reinhard-dassel/14/7ba/a36">
		    		<img src="/img/dw/social_linkedin_off.png" class="rollover" alt="Social Media Links" />
		    	</div>
		    	<div class="media-button last-child" data-url="http://www.xing.com/profile/Reinhard_Dassel">
		    		<img src="/img/dw/social_xing_off.png" class="rollover" alt="Social Media Links" />
		    	</div>
		    </div>
		</div>
		<div class="layer" id="layer-dassel" data-logo-color="white">
			<div class="content">
				<h2>Reinhard Dassel</h2>
				<p>Conceptor.</p>
				<p>Reinhard has extensive experience with a variety of clients, including Coca-Cola, Bacardi and Volkswagen. He has long worked closely with Paul Wagner, most recently at KircherBurkhardt, where they focussed on digital platforms for publishing clients. </p>
				<p>He is the concept and client services guy at DUNDW.</p>
			</div>
		</div>
	</div>
	
	<div class="view" id="view-twitter" data-logo-color="white">
		<div class="square" id="square-twitter">
			<div class="image-box" data-img-src="/img/views/twitter_quotes.png"></div>
			<div class="content">
				<div id="twitter-text" class="vertical-middle">
				</div>
			</div>
		</div>
	</div>
		
	<div class="view" id="view-kontakt" data-logo-color="black">
		<div class="square" id="square-kontakt">
						
			<div class="content">
				<h1>
					Berlin.<br> 
					Kreuzberg.
				</h1>
				<p>
					DASSEL UND WAGNER<br>
					Bethaniendamm 61A<br>
					10999 Berlin</p>
				<p>
					<a href="tel:+493098368658">+49 (0)30 98 36 86 58</a>
				</p>
				<p>
					<a href="mailto:kontakt@dasselundwagner.de">kontakt@dasselundwagner.de</a> <br>
					<a href="http://www.twitter.com/_paulwagner" target="_blank">Twitter</a> /
					<a href="https://www.facebook.com/dasselundwagner" target="_blank">Facebook</a>			
				</p>
			</div>
		</div>
	</div>	
	<div id="impressum" class="layer">
		<div class="content">
			
		</div>
	</div>
	
