img#home-bg {
	animation: home-bg 25s linear;
	-webkit-animation: home 25s linear;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;

}

@-webkit-keyframes home {
	from {
		transform: scale(1,1);
		-webkit-transform: scale(1,1);
	}
	to {
		transform: scale(1.25,1.25);
		-webkit-transform: scale(1.25,1.25);
	}
}



