/* TYPOGRAPHY
/* ---------------------------------------------------------------------- */

/* Webfonts */


@font-face {
	font-family: 'Code-Light';
	src: url('/fonts/Code-Light.eot');
	src: url('/fonts/Code-Light-.eot#iefix') format('embedded-opentype'),
		 url('/fonts/Code-Light.woff') format('woff'),
		 url('/fonts/Code-Light.ttf') format('truetype'),
		 url('/fonts/Code-Light.svg#Code-Light') format('svg');
	font-style: normal;
	font-stretch: normal;
}


@font-face {
	font-family: 'Code-Bold';
	src: url('/fonts/Code-Bold.eot');
	src: url('/fonts/Code-Bold-.eot#iefix') format('embedded-opentype'),
		 url('/fonts/Code-Bold.woff') format('woff'),
		 url('/fonts/Code-Bold.ttf') format('truetype'),
		 url('/fonts/Code-Bold.svg#Code-Bold') format('svg');
	font-style: normal;
	font-stretch: normal;
}


/* ---------------------------------------------------------------------- */

body {
  	font-size:100%;
	color: #000;	
	/*text-shadow: 1px 2px 1px #fffff80/1f;*/
}

h1 {
	font-family:"Code-Light", sans-serif;
	font-size: 4em;
	line-height: 1em; 
	font-weight: 900;
}

h2 {
	font-family:"Helvetica-Neue", sans-serif;
	font-size: 2.5em;
	line-height: 1.3em; 
	font-weight: 300;
}

h3 {
	font-family:"Helvetica-Neue", sans-serif;
	font-size: 1.3em; 
	margin-bottom: 0.5em;
	font-weight: 300;

}

.copy-text, p, h3 {
	font-family: "Helvetica-Neue", sans-serif;
	font-size: 1.3333333em; 
	line-height: 1.5em;
}



.award-text, .link-button-text {
	font-family: "Helvetica-Neue", sans-serif;
	font-size: 1em; 
	line-height: 1.4em;
}

.typewriter, #footer, .kb-hint {
	font-family: "Helvetica-Neue", sans-serif;
	font-size: 0.7em; 
	letter-spacing: 0.2em;
}

/* no ios text size adjustment to avoid linebreak. */
.kb-hint {
	-webkit-text-size-adjust: 100%;
}

.logo {
	font-family: "Helvetica-Neue", sans-serif;
	font-size: 1.5em; 
	line-height: 1em;
	font-weight: 900;
	letter-spacing:0.05em;
}

.menu-item, .menu-level2-item {
	font-family: "Code-Bold", sans-serif;
	font-size: 1em; 
}

.menu-touch-item {
	font-family: "Helvetica-Neue", sans-serif;
	font-size: 12px; 
	font-weight: 400;		
}
